/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2015, 6:20:25 PM
    Author     : Ron
*/

//glass-grey Source : http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
.glass-grey {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}


/*
    game-tile(s) stylesheets is edited and modified by Ron.
    Original Source : https://github.com/brunoborges/fx2048/blob/master/src/game2048/game.css        
*/
.game-tile-2    { 
    -fx-font-size: 40px;
    -fx-text-fill: #776e65;
    -fx-background-color: #eee4da; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-4    { 
    -fx-font-size: 40px;
    -fx-text-fill: #776e65;
    -fx-background-color: #ede0c8; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-8    { 
    -fx-font-size: 40px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f2b179; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-16   { 
    -fx-font-size: 40px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f59563; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-32   { 
    -fx-font-size: 40px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f67c5f; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-64   { 
    -fx-font-size: 40px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f65e3b; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-128  { 
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edcf72; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-256  { 
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edcc61;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-512  { 
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc850; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-1024 { 
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc53f; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-2048 { 
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc22e; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-4096   { 
    -fx-font-size: 30px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #b885ac; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-8192   { 
    -fx-font-size: 30px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #af6da9; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-16384 { 
    -fx-font-size: 25px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #ab61a7; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-32768 { 
    -fx-font-size: 25px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #a755a6; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.game-tile-65536, .game-tile-131072, .game-tile-262144 { 
    -fx-font-size: 25px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #3c3a32; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
